.form-heading{
	font-family: 'Source Sans Pro', sans-serif;
	color: #15105A;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.main-section{
	margin-top: 70px;
}

form{
	margin: 50px;
	padding: 30px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 4px 4px 4px 4px #CEC2CA;
	background: #D6DBDB;
}

input[type=text],input[type=textarea]{
	width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:valid {
  border-color: black;
}
input:invalid {
  border-color: red;
}

label{
	font-family: 'Source Sans Pro', sans-serif;
	color: #15105A;
	font-weight: bold;
	font-size: 20px;
}

.label{
	text-align: right;
}

.submit{
	padding: 8px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background: #50B03F;
	border-radius: 8px;
}

.submit:hover,.submit:active{
	background: #3FB067;
}

.error{
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-left: 40px;
}

.valid{
	color: green;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding-left: 40px;
}