* {
    box-sizing: border-box;
}

body{
	margin: 0;
}

.main-header{
	background: #1163B4;
	width: 100%;
	position: fixed;
	top: 0;
	height: 60px;
	vertical-align: middle;
}

.home{
	display: inline-block;
	width: 20%
}

.home > a{
	text-decoration: none;
	color: white; 
	font-weight: bold;
	font-size: 20px;
	padding: 0 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

.header-nav{
	display: inline-block;
	text-align: right;
	width: 80%;
}

.header-list{
	list-style-type: none;
}

.header-list-element{
	display: inline-block; 
	font-weight: bold;
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0 16px;
}

.header-list-element > a{
	text-decoration: none; 
	color: #B42011;
	border: 0.1px solid #777B6D;
	border-radius: 10px;
	background: white;
	padding: 5px;
}

.header-list-element > a:hover, .header-list-element > a:active{
	background: #B43611;
	color: white;
} 

.photo{
	background: url("../pics/home.jpg");
	height: 700px;
	background-size: cover;
	width: 100%;
	max-height: 100%;
}

.photo-heading{
	font-weight: bold;
	font-size: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	margin: 0;
	padding: 90px 32px 32px 32px;
	text-align: center;
	margin-left: auto; 
}

#features{
    background: #3F4458;
    margin: 0;
}

#features .section-title{
    color: white;
    margin: 0 32px 32px 32px;
    padding: 16px;
}

#features ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#features ul > li{
    display: inline-block;
    color: white;
    margin: 8px;
    padding: 8px;
    width: 30%;
    font-size: 20px;
    vertical-align: top;
}

.key--image{
    background: #ffcede;
    display: inline-block;
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    height: 128px;
    margin: auto;
}